
Readly/obj/

Readly/.vs/

Readly/bin/

Readly/wwwroot/

Readly/Readly.sln

Readly/Readly.csproj.user

Readly/Migrations/

Readly/ClientApp/npm

Readly/ClientApp/src/components/tools.js

Readly/ClientApp/src/components/constants.js
