a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.background{
  background: rgb(63,94,251);
  background: radial-gradient(
    circle,
  rgba(63,94,251,1) 0%, 
  rgba(87,82,226,1) 10%,
  rgba(255,90,123,1) 100%);
}

body{
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.background{
  background-color: rgb(194, 63, 165);
  /* background: rgb(63,94,251);
  background: radial-gradient(
    circle,
  rgba(63,94,251,1) 0%, 
  rgba(87,82,226,1) 10%,
  rgba(255,90,123,1) 100%); */
}

.editor-background{
  background-color: rgb(230 247 173 / 43%);
  border-radius: 1em
}

.form-rounded{
  border-radius: 1em
}
