/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#rcorners1 {
  border-radius: 25px;
  background: #56bebe;
  padding: 20px;
  margin: 1em;
  width: 50em;
  height: 12em;
}
